:root {
    --white: #fff;
    --left-upper-section: #b8a026;
    --section-headers: #050507;
    --background-color: #dddddf;
    --references-bg: #252527;
    --references-header: #a69e60;
    --references-text: #b0b0b2;
    --underline-section-headers: #99925b;
    --bg-gradient-1: #cbc9ca;
    --bg-gradient-2: #302e2f;
    --bg-gradient-3: #838182;
    --bg-gradient-4: #cbc9ca;
}

.marg-left {
    margin-left: .5rem;
}

body {
    background-color: #fff;
    padding: 1rem 0;
    position: relative;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.bg-skew-one {
    position: absolute;
    transform: skewY(-30deg);
    background: var(--bg-gradient-1);
    height: 70%;
    width: 100%;
    bottom: 69rem;
    z-index: -1;
}

.bg-skew-two {
    position: absolute;
    transform: skewY(-30deg);
    background: var(--bg-gradient-2);
    height: 70%;
    width: 100%;
    bottom: 15rem;
    z-index: -1;
}

.bg-skew-three {
    position: absolute;
    transform: skewY(-30deg);
    background: var(--bg-gradient-4);
    height: 70%;
    width: 100%;
    bottom: -39rem;
    z-index: -1;
}

.resume__container {
    width: 80rem;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    box-shadow: -10rem -1rem 12rem rgba(0, 0, 0, 0.7);
    perspective: 10rem;
}

.resume__left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.resume__left--image {
    background-color: #b8a026;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name-container {
    color: var(--white);
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}

.name-one {
    display: block
}

.name-two {
    display: block
}

.name-three {
    display: block;
    font-size: 1.4rem;
    margin-top: 8px
}

.photo {
    max-width: 15rem;
    outline: 2px solid var(--white);
    outline-offset: 1.4rem;
}

.box {
    width: 95%;
    padding: .2rem .2rem .2rem 1.1rem;
}

.box-languages {
    padding-top: 0;
}

.resume__left--lower-section {
    flex-basis: 60%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.resume__left--about_me {
    flex-basis: 33.33%;
    text-align: justify;
    font-size: 1.2rem;
}

.resume__left--contact {
    flex-basis: 33.33%;
    font-size: 1.2rem;
    text-align: justify;
}

.resume__left--education {
    flex-basis: 33.33%;
    text-align: justify;
    font-size: 1.1rem;
}

.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin: 0.7rem 1.15rem 1rem 1rem;
    border-bottom: solid 2.5px var(--underline-section-headers);
}

.references-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: var(--references-header);
    margin: 0.7rem 1.15rem 1rem 1rem;
}

.resume__right {
    flex-basis: 60%;
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.box-skills {
    padding-top: 0.1rem;
    font-size: 1.4rem;
}

.resume__right--expertise {
    flex-basis: 20%;
}

.resume__right--experience {
    padding-top: 2rem;
    flex-basis: 35%;
    font-size: 1.5rem;
    text-align: justify;
}

.box-projects {
    color: var(--white);
    font-size: 1.45rem;
}

.resume__right--references {
    flex-basis: 30%;
    background-color: var(--references-bg);
}

.love {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    margin-top: 10px;
    margin-left: 40%;
    height: 40px;
}
